body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.6;
}

.navbar{
  min-height:4rem;
  background-color:#563d7c;
  box-shadow:0 1.5rem 3rem rgba(0,0,0,.20),
  inset 0 -1px 0 rgba(0,0,0,.1)
}

/* removing the arrows form numeric textboxes */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

input[type="number"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 10px #719ECE;
}

input[type="text"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 10px #719ECE;
}

input[type="email"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 10px #719ECE;
}
input[type="date"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 10px #719ECE;
}


  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }

  .jumbotron{
    /* display: none; */
  }
.jumbotron {
  width: 100%;
  margin: 0,auto;
}
.jumbotron table {
  max-width:1400px;
  width: 100% !important;
 }

table {
      margin: auto;
      table-layout:auto;
      white-space: nowrap;
      border-radius: 5px;
      text-align: center;
  }


  table thead tr:hover th {
 background-color: #343A40;
}

table tfoot tr:hover th {
background-color: #343A40;
}


a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none}


.footer {
  /* background-color:#31708f; */
  background-color:#563d7c;
  box-shadow: 0 1.5rem 5rem rgba(0,0,0,50.20),
  inset  -1px  0 0 rgba(0,0,0,.1)
}

code {
  font-size: 80%;
}


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
