html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.6;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  /* background-color: #fff; */
}

.navbar{
  min-height:4rem;
  background-color:#563d7c;
  box-shadow:0 1.5rem 3rem rgba(0,0,0,.20),
  inset 0 -1px 0 rgba(0,0,0,.1)
}

.custom-select:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 15px #719ECE;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron{
  width: 49%;
  padding:  3em;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}



*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}


input[type="number"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 15px #719ECE;
}

input[type="text"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 15px #719ECE;
}

input[type="email"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 15px #719ECE;
}
input[type="date"]:focus{
  outline: none !important;
  border:1px solid green;
  box-shadow: 0 0 15px #719ECE;
}


a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none}


.footer {
  background-color:#563d7c;
  box-shadow: 0 1.5rem 5rem rgba(0,0,0,50.20),
  inset  -1px  0 0 rgba(0,0,0,.1);
  width: 100vw;
  position: absolute;;
  /* bottom:0; */
}

code {
  font-size: 80%;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
